@font-face {
  font-family: OpenSans;
  src: url(./assets/fonts/OpenSans-VariableFont_wdth\wght.ttf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

:root {
  --color-white: hsla(0, 0%, 100%, 1);
  --color-red: hsla(7, 84%, 56%, 1);
  --color-green: hsla(175, 69%, 41%, 1);
  --color-green-light: hsla(175, 49%, 85%, 1);
}

.wrapper {
  min-height: 100vh;
  font-family: OpenSans, sans-serif;
  color: var(--color-white);
}

h1 {
  font-size: 1.8rem;
  font-weight: 800;
  padding: 0.5rem 0;
  border-top: 2px solid var(--color-white);
  border-bottom: 2px solid var(--color-white);
  letter-spacing: 6.82px;
}

h2 {
  font-size: 1.4625rem;
  letter-spacing: 5.26px;
  font-weight: 800;
}

a {
  text-decoration: none;
  color: var(--color-white);
  cursor: pointer;
}

.button-red {
  background-color: var(--color-red);
  font-size: 0.8669rem;
  font-weight: 600;
  padding: 1rem 2rem;
  border-radius: 5px;
  letter-spacing: 3.12px;
  transition: 0.5s;
}

.button-red:hover {
  background-color: hsla(7, 84%, 65%, 1);
}

/* ! Header */

header {
  text-transform: uppercase;
  background: url(./assets/images/background_header.png) no-repeat center;
  background-size: cover;
  text-align: center;
}

header nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 4vw;
  margin-bottom: 20rem;
}

header nav a {
  font-size: 0.8669rem;
  padding: 1.5rem 0;
  letter-spacing: 3.12px;
}

header article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 26rem;
}

header article h1 {
  margin-bottom: 1.875rem;
}

header article p {
  font-size: 1.0831rem;
  margin-bottom: 2.1875rem;
  padding: 0 4rem;
  line-height: 1.8rem;
  letter-spacing: 3.9px;
}

.break::after {
  content: '\A';
  white-space: pre;
}

/* ! Quote Section */

.quote-section {
  background-color: var(--color-green);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6.5rem 15vw 0 15vw;
}

.quote-section h2 {
  border-bottom: 2px solid hsla(0, 0%, 0%, 0.125);
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
}

.quote-section p {
  font-weight: 100;
  color: var(--color-green-light);
  font-size: 1.0831rem;
  line-height: 28.6px;
  letter-spacing: 1.3px;
  margin-bottom: 3.2rem;
}

.quote-icons-container {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 6.5rem;
}

.quote-icon {
  border: 2px solid hsla(0, 0%, 0%, 0.125);
  padding: 1rem;
  transform: rotate(45deg);
  margin-right: 1rem;
}

.quote-icon:last-of-type {
  margin-right: 0;
}

.quote-icon img {
  transform: rotate(-45deg);
}

/* ! City Section */

.city-section {
  display: flex;
  flex-direction: column;
}

.city-section article {
  display: flex;
}

.city-section article:nth-of-type(2) {
  flex-direction: row-reverse;
}

.city-section article:nth-of-type(3) div h2 {
  margin-top: 2rem;
}

.city-section article:nth-of-type(3) div p {
  margin-bottom: 2rem;
}

.city-section article img {
  width: 42vw;
}

.city-section article div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.1875rem 6.2rem 0 4.3125rem;
  padding: 0 6.2rem 0 4.3125rem;
}

.city-section article:nth-of-type(1) div {
  background-color: #2b343d;
  border: 1px solid #2b343d;
}

.city-section article:nth-of-type(2) div {
  background-color: #273038;
  border: 1px solid #273038;
}

.city-section article:nth-of-type(3) div {
  background-color: #242b33;
  border: 1px solid #242b33;
}

.city-section article div h2 {
  line-height: 2.2rem;
  margin-bottom: 1.4375rem;
}

.city-section article div p {
  font-size: 1.0831rem;
  letter-spacing: 1.3px;
  line-height: 28.6px;
}
